<table class="table three-col-example">
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Calling Code</th>
    <th>Emoji</th>
  </tr>
  </thead>
  <tr *ngFor="let country of countryService.countries$ | async">
    <td style="width: 200px"> {{ country.name }}</td>
    <td style="text-align: center"> {{ country.code }}</td>
    <td style="text-align: center">
      <ng-container *ngIf="!!country.callingCode else noCode">
        +{{ country.callingCode }}
      </ng-container>
      <ng-template #noCode> - </ng-template>
    </td>
    <td style="text-align: center"> {{ country.emoji }}</td>
  </tr>
</table>
