<ng-container *fsSkeleton="countryService.ready$ | async; pattern: [100]">
  @if (country) {
    @if (emojiSupported) {
      @if (showIcon) {
        {{ country.emoji }}
      }
      <ng-container *ngTemplateOutlet="name"></ng-container>
    } @else {
      @if (country) {
        @if (showIcon) {
          <img [src]="countryFlagPath" [alt]="countryISOCode" [style.width]="width + 'px'">
        }
        <ng-container *ngTemplateOutlet="name"></ng-container>
      }
    }
  }
</ng-container>

<ng-template #name>
  @if (showName) {
    <span class="name">{{ country.name }}{{ region ? ', ' + region : '' }}</span>
  }
</ng-template>