<ng-container *fsSkeleton="countryService.ready$ | async; pattern: [100]">
  @if (country) {
    @if (emojiSupported) {
      @if (showIcon) {
        {{ country.emoji }}
      }
      @if (showCode) {
        <span class="code">+{{ country.countryCode }}</span>
      }
    } @else {
      @if (country) {
        @if (showIcon) {
          <img [src]="countryFlagPath" [alt]="countryISOCode" [style.width]="width + 'px'">
        }
        @if (showCode) {
          <span class="code">+{{ country.countryCode }}</span>
        }
      }
    }
  }
</ng-container>
