<ng-container *fsSkeleton="countryService.ready$ | async; pattern: [100]">
  <ng-container *ngIf="country">
    <ng-container *ngIf="emojiSupported else svgCountry">
      <ng-container *ngIf="icon">{{ country.emoji }}</ng-container> +{{ country.countryCode }}
    </ng-container>

    <ng-template #svgCountry>
      <ng-container *ngIf="country">
        <img *ngIf="icon" [src]="countryFlagPath" [alt]="countryISOCode" class="country-icon">
        +{{ country.countryCode }}
      </ng-container>
    </ng-template>
  </ng-container>
</ng-container>
